---
layout: page
title: " "
pagination:
  enabled: true
  collection: filled_by_script
  per_page: 30
  trail:
    before: 4
    after: 4
  permalink: '/:num/'
  title: ':title'
  sort_field: 'last_updated'
  sort_reverse: true
---

<h3>{{ site.data.strings.app_categories[page.app_category] }}</h3>
<div id="package-list">
  {% for package in paginator.posts %}
    {% include package-list-item.html package=package %}
  {% endfor %}

  {% include_cached browse-paginator-navigation.html paginator=paginator permalink=page.dir %}
</div>
